node_modules
npm-debug.log
.yarn
.yarnrc

.next
.cache
coverage
dist

.env
.env.local
.env.development
.env.test
.eslintcache
.eslintignore
.vscode
.DS_Store

.git
.gitignore

README.md
*.md
tests/
__test__/
vitest.config.ts
